

.wrapper {
    max-width: 400px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
}

/* Form styles */

.signUp, .signIn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 400px;
    height: 337px;
    margin: auto;
    padding: 30px 0;
    background: white;
    box-shadow: 0 0 15px #fff;
}

.signIn {
    display: none;
    height: 173px;
}

form div {
    width: 100%;
    margin-bottom: 28px;
}

/* Input text field styles */

input {
    font-family: "Fira Mono", "Courier New", Consolas, monospace;
    font-size: .9em;
    font-weight: 400;
    display: block;
    width: 85%;
    margin: 0 auto;
    height: 45px;
    -webkit-transition: box-shadow .3s;
    transition: box-shadow .3s;
    transition: .25s linear;
    text-align: center;
    color: #000000;
    border: 0;
    outline: 0;
    background: #eee;
    box-shadow: 0 0 0 2px transparent;
}

input:focus {
    animation: boxShadow .3s backwards;
    box-shadow: 0 0 0 2px #fff;
}

/* Button styles  */

.btn {
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-member, .btn-back {
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .8em;
    color: #000000;
    background: white;
    float: right;
    width: 50%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 23px;
    cursor: pointer;
    border: 0;
    border-top: 1px solid #fff;
    outline: 0;
}

.btn-sign-up, .btn-log-in {
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background: #0aaf;
    float: right;
    width: 50%;
    height: auto;
    padding-top: 23px;
    padding-bottom: 23px;
    cursor: pointer;
    border: 0;
    border-top: 1px solid #fff;
    outline: 0;
}